html{
    background-color: lavender;   
    
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

nav {
    border-bottom: 2px solid white;
    width: 60%;
    justify-self: start;
    margin: 0px 5%;
    align-self: center;
}

nav a {
    margin: 0px 5%;
    color: white;
}

.logo {
    justify-self: end;
    margin: 0px 5%;
    width: 20%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

#slider {
    grid-column: 1/3;
    width: 50%;
    margin: 20px auto;
}
